.sidebar {
  display: none;
}

@media (min-width: 1200px) {
  .sidebar {
    position: fixed;
    top: 81px;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #f5f8f9;
    color: #000;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    display: block;
  }

  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 40px 20px 40px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .sidebar-item {
    margin: 0;
    text-align: center;
  }

  .sidebar-link {
    display: block;
  }

  .sidebar-item a {
    font: 400 12px / 18px Helvetica;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #242423;
  }

  .sidebar-item a.sidebar-active-link {
    border-left: 4px solid #014d55;
    color: #014d55;
    font-weight: 700;
  }
}