.dashboard-body {
  width: 100%;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .dashboard-body {
    position: fixed;
    top: 81px;
    left: 255px;
    height: calc(100% - 81px);
    margin-left: auto;
    height: 100vh;
    width: calc(100% - 250px);
    overflow-y: auto;
  }
}